.container {
  display: flex;
  flex-direction: column;
}

.title {
  background-image: var(--color-gradient);
  color: #000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.subtitle {
}
